.landing-page-about-image {
    max-width: 300px;
    max-height: 300px;
}
.spacer-for-usecases {
    height: 60px;
}

.inflight-number {
    font-family: 'Montserrat';
    font-size: 50px;
    line-height: 50px;
}

.text-primary {
    color: #21507b !important;
}